<div class="modal fade" id="mod_SignUp">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="user" class="registration-modal-body small-top-spacer">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Step 1 - Sign Up</h3>
          <p>Create your user name and password. We promise to only user your e-mail to MeowMates official business.</p>
        </div>
        <%= form_for(resource,:id => "signup_form", :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <div class="label label-danger" id="lbl_error"></div>
                <div class="label label-success" id="lbl_success"></div>
                <div class="form-group">
                    <div class='row small-topdown-spacer'>
                        <label id="lbl_error_email" class='label label-danger'></label>
                </div>
                    <%= f.email_field :email, :id => 'txt_email', :class => 'form-control', :placeholder => 'E-mail'%>
                </div>
                <div class="form-group">
                    <label id="lbl_error_password" class="label label-danger small-topdown-spacer"></label>
                    <%= f.password_field :password, :id => 'txt_password', :class => 'form-control', :placeholder => 'Password' %>
                </div>
                <div class="form-group">
                    <label id="lbl_error_password_confirmation" class="label label-danger small-topdown-spacer"></label>
                    <%= f.password_field :password_confirmation, :id => 'txt_confirm_password', :class => 'form-control', :placeholder => 'Confirm Password' %>
                </div>
            </div>
            <div id="profile" class="registration-modal-body small-top-spacer">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Step 2 - Create your Profile</h3>
                <p>Final step! Create your profile. This will serve as your MeowMates profile that you can use to browse the site, post animals
                  and find your purrfect MeowMate.</p>
              </div>
            <%= f.fields_for :Profile do |pf| %>
                <%= render :partial => "shared/profile_form", :locals => { :f => pf } %>
              <% end %>
            </div>
            <div class="modal-footer mod-footer-color">
              <ol class="mod-signup-indicators">
                <li class="active">
                  <a href="#user" style="display:none;">user</a>
                </li>
                <li>
                  <a href="#profile" style="display:none;" >Profile</a>
                </li>
              </ol>
              <%= f.submit :Submit, :id => 'btn_Submit', :class => 'btn btn-success'  %>
           <% end %>
        </div>
     </div>
  </div>
</div>


<script>

    $(document).ready(function () {
        $('.mod-signup-indicators li:first-child').on('click', function () {
            $('.mod-signup-indicators li:first-child').addClass('active');
            $('.mod-signup-indicators li:last-child').removeClass('active');
            target = $(this).find('a').attr('href');
            // the .not() makes it so if we are on that page, it doesn't fade in and out the same content
            $('.registration-modal-body:visible').not(target).fadeOut('slow', function () {
                // after we fade out old content, fade in new
                $(target).fadeIn('slow');
            });
        });

        $('.mod-signup-indicators li:last-child').on('click', function () {
            $('.mod-signup-indicators li:first-child').removeClass('active');
            $('.mod-signup-indicators li:last-child').addClass('active');
            target = $(this).find('a').attr('href');
            // the .not() makes it so if we are on that page, it doesn't fade in and out the same content
            $('.registration-modal-body:visible').not(target).fadeOut('slow', function () {
                // after we fade out old content, fade in new
                $(target).fadeIn('slow');
            });
        });
    });
</script>