
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'home.css' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Pacifico' %>

</head>

<body>
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-caption">

                <h1>MeowMates</h1>
                <h5>
                    The world's first pet adoption site with a social spin.
                </h5>
                    <%= link_to "Get Started!", {:controller => 'home', :action => 'show' },  { class: "btn btn-primary" } %>
                </div>
                <div class="item active">
                    <%= link_to image_tag("Cat_Home.jpg", :class => 'img') %>
                </div>
                <div class="item">
                    <%= link_to image_tag("Cat_Home2.jpg", :class => 'img') %>
                </div>
                <div class="item">
                    <%= link_to image_tag("Cat_Home3.jpg", :class => 'img') %>
                </div>
            </div>
        </div>

    <script type="text/javascript">

        $(document).ready(function () {
            // TODO: Convert to CoffeeScript
            $('#myCarousel').carousel({});
            $('#myCarousel').carousel('cycle');

            $('#btn_SignUp').click(function () {
                $('#mod_SignUp').modal();
            });

            $('#btn_Login').click(function () {
                $('#mod_login').modal();
            });

        });

    </script>

</body>

</html>