<div class="container-fluid">
    <div class="row">
      <h2><%= @animal.full_name %></h2>

      <section class="col-sm-10">
        <ul class="aList">
            <li >
                Age: <%= @animal.age %>
            </li>
            <li>
                Weight: <%= @animal.weight %>
            </li>
            <li>
                Height: <%= @animal.height %>
            </li>
            <li>
                Length: <%= @animal.length %>
            </li>
            <li>
                Fixed:  <%= @animal.fixed %>
            </li>
            <li>
                Shots:  <%= @animal.shots %>
            </li>
            <li>
                Papers  <%= @animal.papers %>
            </li>
        </ul>
      </section>
    </div>
</div>