<div class="container-fluid">
  <div class="row padding-top-15 border-bottom">
    <div class="col-sm-1 visible-lg visible-md">
      <%= image_tag("create_animal_banner_small.png", :class => "img-circle cat-banner") %>
    </div>
    <div class="col-sm-offset-3">
      <h4 class="orange">
        Welcome <%= @profile.first_name %> <%= @profile.last_name %> !
      </h4>
    </div>
    <div class="col-sm-offset-3">
      <div class="col-sm-5">
        <ul class="list-group">
          <li class="list-group-item">
            Member since:
            <span class="badge"><%= @user.created_at.year  %></span>
          </li>
          <li class="list-group-item">
            Last online:
            <span class="badge">
               <%=  @user.last_sign_in_at.to_date %>
            </span>
          </li>
          <li class="list-group-item">
            User rating:
            <span class="glyphicon glyphicon-star">
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-12">
        <h4>Purrralytics</h4>
      <ul class="form-group">
          <li class="list-group-item">
            Number of animals:
                <span class="badge">
                    <%= @animal.count %>
                </span>
          </li>
        <li class="list-group-item">
            Pets adopted:
            <span class="">
            </span>
        </li>
        <li class="list-group-item">
          Favorite pet name:
            <span class="">
            </span>
        </li>
        <li class="list-group-item">
          Favorite breed:
            <span class="">
            </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>My animals</h4>

    </div>
  </div>
</div>